<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{{ page_title }} | {{ settings.backend_system_name }} | {{ settings.backend_server_name }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--favicon-->
    <link rel="icon" href="/static/images/favicon.ico" type="image/icn"/>
    <!-- Bootstrap CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/bootstrap-icons.min.css" rel="stylesheet">
    <link href="/static/css/select2.min.css" rel="stylesheet">
    <link href="/static/css/select2-bootstrap-5-theme.min.css" rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-expand-lg bg-primary-subtle">
  <div class="container-fluid">
    <a class="navbar-brand" href="/lk/dashboard">
      <img src="/static/images/favicon-32x32.png" alt="Logo" width="32" height="32" class="d-inline-block align-text-top">
      {{ settings.backend_system_name }}
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="/categories/list/page">Категории</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/properties/list/page">Свойства объектов</a>
        </li>
      </ul>
      <ul class="navbar-nav">
        <li class="nav-item me-3 me-lg-0 dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="bi bi-person-circle"></i>
            <span class="ms-2">{{ user.fio }}</span>
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Профиль</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Выход</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container-fluid mt-5">
  {% block content %}{% endblock content %}
</div>

<!-- JScript -->
<script src="/static/js/jquery-4.0.0.min.js"></script>
<script src="/static/js/bootstrap.bundle.min.js"></script>
<script src="/static/js/moment-with-locales.min.js"></script>
<script src="/static/js/moment-timezone-with-data.min.js"></script>
<script src="/static/js/select2.full.min.js"></script>
{% if java_script %}
  <script src="/static/js/{{ java_script }}"></script>
{% endif %}
<script>
    let backend_api_prefix = '{{ settings.backend_api_prefix }}'

    $('.navbar .navbar-nav .nav-item a.nav-link').each(function () {
        if ($(this).attr('href').startsWith('{{ prefix }}')) {
            $(this).addClass('active')
            $(this).attr('aria-current', 'page')
        }
    })
</script>
{% block script %}{% endblock script %}
</body>
</html>